body {
  background-color: #111111;
  color: #ffffff;
  /* hide scroll bar */
  overflow: hidden;
  user-select: none;
}

#time {
  margin: 0;
  font-size: 25vw;

  /* center #time */
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

#second {
  font-size: 12.5vw;
}
